[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"

networkx = "*"
pydot = "*"

numpy = "*"

z3-solver = "*"
clingo = "*"
python-sat = "*"
scipy = "*"
cvxpy = "*"
transformers = "*"
scikit-learn = "*"
matplotlib = "*"
umap-learn = "*"
seaborn = "*"
cupy-cuda12x = "*"